mixin section-footer
    .footer
        .footer__content
            .footer__company
                .footer__company-logo
                    img.img(src='assets/img/svg/logo.svg')
                .footer__company-privacy
                    | &#169;
                    | 2022 LovePartners
                    | &nbsp;
                    | Все права защищены
            .footer__questions
                | возникли вопросы?
                br
                | пишите - все расскажем!
            .footer__contacts
                p.footer__contacts-tg= '@lovepartnersbiz'
                p.footer__contacts-email= 'support@lovepartners.biz'