@keyframes girl {
	33% {
		background: url("../../../assets/img/girl-2.png") no-repeat;
		background-size: contain;
	}
	66% {
		background: url("../../../assets/img/girl-1.png") no-repeat;
		background-size: contain;
	}
}

.main {
	height: res(550, 320, 1100, 1920);
	position: relative;
	overflow-x: clip;

	@include _979 {
		margin-bottom: 200px;
	};

	&__bg {
		position: absolute;
		height: 100%;
		width: 100%;
		background: radial-gradient(#39058B 5%, #270261 42%, #0F0335 100%) res(50, 320, 250, 1920);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
	}

	&__content {
		display: flex;
		margin: 0 res(15, 320, 115, 1920);

		&-info {
			margin-top: 180px;
			letter-spacing: 0.03em;
		}

		&-desc {
			color: #626CFF;
			font-size: res(14, 320, 24, 1920);

			@include _1170 {
				width: res(210, 320, 250, 1170);
			};
		}

		&-title {
			margin-top: res(4, 320, 15, 1920);
			width: 650px;
			color: #fff;
			font-size: res(24, 320, 42, 1920);
			text-transform: uppercase;
			font-weight: bold;

			position: relative;
			z-index: 10;


			@include _1170 {
				width: res(350, 320, 380, 1170);
			};

			.red {
				color: #FF3471;

				&:after {

					@include _1170 {
						content: '\0a ';
						white-space: pre;
					};
				}
			}
		}

		&-btns {
			display: flex;
			margin-top: 50px;

			font-size: res(15, 320, 18, 1920);
			line-height: perc(18, 15);

			position: relative;
			z-index: 10;

			@include _1170 {
				flex-direction: row-reverse;
			};

			.btn:nth-child(1) {
				margin-right: res(13, 320, 50, 1920);

				button {
					padding: 0;
					display: flex;
					align-items: center;
					justify-content: center;

					width: res(192, 320, 256, 1920);
					height: res(50, 320, 60, 1920);
				}
			}

			.btn:nth-child(2) {
				margin-right: res(13, 320, 50, 1920);

				button {
					padding: 0;
					display: flex;
					align-items: center;
					justify-content: center;

					width: res(138, 320, 185, 1920);
					height: res(50, 320, 60, 1920);
				}
			}
		}

		&-points {
			position: relative;
			height: 500px;
			z-index: 10;
			}

		&-point {
			display: flex;
			position: absolute;


			&:nth-child(1) {
				top: 70px;
				left: 70px;

				@include _979 {
					top: res(100, 320, 200, 979);
					left: 0;
				};
			}

			&:nth-child(2) {
				left: 400px;
				top: 190px;

				@include _979 {
					top: res(220, 320, 320, 979);
					left: res(60, 320, 200, 979);
				};
			}

			.dot {
				margin-top: 5px;
				height: 10px;
			}

			.text {
				width: 280px;
				font-size: res(14, 320, 16, 1920);
				font-weight: 400;
				line-height: 23px;
				margin-left: 15px;
				color: #6959C9;

				.title {
					font-size: res(20, 320, 24, 1920);
					font-weight: 700;
				}
			}
		}

		&-img-1 {
			position: absolute;
			z-index: 1;

			width: res(270, 1170, 468.48, 1920);
			height: res(340.81, 1170, 591.34, 1920);

			right: res(260, 1170, 610, 1920);
			top: res(145, 1170, 100, 1920);

			transform: rotate(8.2deg);
			background: url("../../../assets/img/girl-3.png") 0 4px no-repeat;
			background-size: contain;

			animation: girl 1.3s infinite;
			animation-timing-function: steps(1);

			@include _1170 {
				//animation: none;

				rotate: -8deg;

				width: 270px;
				height: 340.81px;

				right: res(-40, 320, 260, 1170);
				top: res(10, 320, 145, 1170);
			};

		}

		&-img-2 {
			position: absolute;

			z-index: 1;
			height: res(800, 1170, 1150, 1920);

			bottom: -27px;
			rotate: 3deg;
			right: res(-140, 1170, 0, 1920);

			@include _1170 {

				height: res(550, 320, 800, 1170);

				right: res(-200, 320, -140, 1170);
				bottom: res(-8, 320, -30, 1170);

				rotate: 7deg;
			};
		}

		&-img-3 {
			position: absolute;

			height: res(300, 1170, 458.47, 1920);

			right: res(70, 1170, 350, 1920);
			top: res(50, 1170, 0, 1920);

			@include _1170 {
				height: 300px;

				rotate: -8deg;

				right: res(-200, 320, 70, 1170);
				top: res(-98, 320, 50, 1170);
			};
		}


	}

}