.support {
	overflow-x: clip;

	&__content {

		margin: 0 res(50, 1170, 250, 1920) 100px;
		display: flex;
		justify-content: space-between;

		@include _1170 {
			flex-direction: column;
			align-items: center;
			margin: 0 res(10, 320, 130, 1170) 0;
		};
	}

	&__info {
		padding-top: 150px;
		letter-spacing: 0.03em;

		@include _1170 {
			padding-top: 0;
		};

		&-title {
			font-weight: 700;
			font-size: res(36, 320, 42, 1920);
			line-height: perc(46, 36);
			text-transform: uppercase;
			color: #2D036A;
			
			@include _1170 {
				text-align: center;
			};
		}

		&-special {
			margin-top: 50px;
			position: relative;
			font-weight: 300;
			color: #2D036A;
			font-size: res(20, 320, 26, 1920);
			padding-left: 60px;

			@include _1170 {
				margin: res(30, 320, 50, 1170) auto 0;
				width: fit-content;
			};

			&:before {
				content: '';
				background-image: url('../../../assets/img/svg/mark.svg') ;

				background-size: cover;
				position: absolute;
				top: 2px;
				left: 0;
				display: inline-block;
				width: 36.73px;
				height: 28.76px;

				@include _1170 {
					width: 30.68px;
					height: 24.02px;
				};
			}

		}

		&-desc {
			margin-top: 20px;
			font-weight: 300;
			font-size: res(14, 320, 18, 1920);
			line-height: 22px;
			width: 550px;
			color: #5D5A63;

			@include _1170 {
				width: res(300, 320, 550, 1170);
			};
		}

		&-btn {
			margin-top: 50px;

			@include _1170 {
				margin-bottom: 50px;
			};
		}
	}

	&__img {
		margin-top: 90px;

		img {
			width: res(274, 320, 429, 1920);
		}

		@include _1170 {
			margin-top: res(20, 320, 90, 1170);
		};
	}
}