mixin section-features
    .features
        .features__content
            .features__content-card
                img.bg(src='assets/img/bg_card.png')
                img.img(src='assets/img/convert.png')
                p.title= 'ВЫСОКИЙ КОНВЕРТ'
                p.desc= 'Собстственный эксклюзивный продуманный сайт знакомств'
            .features__content-card
                img.bg(src='assets/img/bg_card.png')
                img.img(src='assets/img/bet.png')
                .title= 'МАКСИМАЛЬНЫЕ СТАВКИ'
                .desc= 'Когда качество трафика растет, регулярно поднимаем ставку'

