.payments {
	width: 100%;
	margin-top: 50px;
	position: relative;

	overflow-x: clip;

	@include _1170 {
		height: res(1250, 320, 1300, 1170);
	};

	&__methods {
		margin: 0 auto;

		&-title {
			margin-top: 80px;
			font-weight: 700;
			font-size: res(36, 320, 42, 1920);
			line-height: 128%;
			letter-spacing: 0.03em;
			color: #757575;
			text-align: center;
			text-transform: uppercase;
		}

		&-list {
			margin-top: 30px;
			display: flex;
			justify-content: center;


			@include _1170 {
				flex-direction: column;
				align-items: center;
			};

			img {
				margin-right: res(10, 1170, 30, 1920);

				@include _1170 {
					margin-right: 0;
				};

				&:last-child {
					margin-right: 0;
				}
			}
		}

		@include _1170 {
			&-cards {
				margin-bottom: 28px;
			}

			&-you-money {
				margin-bottom: 17px;
			}

			&-tether {
				margin-bottom: 30px;
			}

			&-bitcoin {
				margin-bottom: 11px;
			}
		};

		&-you-money {
			mix-blend-mode: luminosity;
			opacity: 0.54;
		}

		&-qiwi {
			mix-blend-mode: luminosity;
			opacity: 0.54;
		}

		&-webmoney {
			mix-blend-mode: luminosity;
			opacity: 0.54;
		}

		&-tether {
			mix-blend-mode: luminosity;
			opacity: 0.54;
			margin-bottom: -10px;
		}

		&-bitcoin {
			mix-blend-mode: luminosity;
			opacity: 0.54;
		}
	}

	&__dec-img {
		position: absolute;
		width: 900px;
		overflow: hidden;
		right: -115px;
		top: -300px;
		z-index: -1;
	}


	&__daily {
		display: flex;
		position: relative;
		justify-content: space-between;
		padding: 0 res(10, 320, 115, 1920);
		background: #2D036A;

		@include _1170 {
			flex-direction: column;
			align-items: center;
		};
	}

	&__info {
		width: 600px;
		letter-spacing: 0.03em;
		text-align: center;
		color: #fff;

		display: flex;
		align-items: center;
		flex-direction: column;

		@include _1170 {
			width: res(300, 320, 570, 1170);

		};

		&-title {
			margin-top: res(45, 320, 80, 1920);
			text-transform: uppercase;
			line-height: 128%;
			font-weight: 700;
			font-size: res(36, 320, 42, 1920);

		}

		&-desc {
			margin-top: res(25, 320, 10, 1920);
			font-weight: 400;
			font-size: res(20, 320, 24, 1920);
			line-height: 79%;
		}

		&-card {
			margin-top: 45px;
			//width: 520px;
			width: res(300, 320, 520, 1920);
			height: 130px;
			border: 1px solid #fff;
			border-radius: 20px;

			display: flex;
			align-items: center;
			flex-direction: column;

			&-text {
				margin-top: 20px;
				font-size: res(14, 320, 18, 1920);
				line-height: 30px;
			}

			&-price {
				font-weight: 700;
				font-size: res(38, 320, 48, 1920);
				line-height: 57px;
				color: #FF3471;
			}
		}
	}

	&__img {
		margin-top: 40px;
		margin-bottom: -30px;
		z-index: 101;
		margin-right: res(0, 320, -70, 1920);

		img {
			width: res(320, 320, 670, 1920);

		}

	}
}