.admin {
	height: res(770, 320, 1000, 1920);
	background: url("../../../assets/img/bg_sky.jpg") res(-400, 320, 0, 1920) 0 no-repeat;
	background-size: cover;
	overflow: clip;

	&__content {
		margin-left: res(40, 320, 115, 1920);
	}

	&__title {
		padding-top: res(40, 320, 110, 1920);
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0.03em;
		font-size: res(26, 320, 32, 1920);
		line-height: 25px;
		color: #fff;

		.big {
			font-size: res(44, 320, 70, 1920);
			line-height: 58px;
			display: inline-block;
			padding-bottom: res(5, 320, 20, 1920);
		}
	}
}